<a [routerLink]="['/project', 'view', project._id, 'tasks', task.indicator]"
   class="td-none fw-bold inline-flex align-items-center task-title">
  <div class="flex index-indicator">
    #{{task?.indicator}}
  </div>
  <div [matTooltip]="getBrief()"
       class="block title-text">
    {{task?.title}}
  </div>
  <ng-container *ngIf="task?.priority === 3">
    <div class="ml05 flex bg-danger text-white tt-capitalize cl-white task-status">
      High
    </div>
  </ng-container>
  <ng-container *ngIf="task?.priority === 2">
    <div class="ml05 flex bg-warning tt-capitalize cl-white task-status">
      Medium
    </div>
  </ng-container>
  <ng-container *ngIf="task?.priority === 1">
    <div class="ml05 flex bg-white-dirty cl-title tt-capitalize cl-white task-status">
      Low
    </div>
  </ng-container>
</a>

<small class="text-muted task-owner">
  by
  <span [matTooltip]="task?.issuer.username"
        class="text-info">
    {{task?.issuer.name}}
  </span>
  on
  <span [matTooltip]="task.createdAt | date: 'hh:mm:ss'"
        class="fw-bold">
    {{task?.createdAt | date}}
  </span>
</small>

<div class="task-comments">
  <div [matBadge]="task?.comment?.length"
       class="icon">
    <mat-icon class="text-muted">message</mat-icon>
  </div>
</div>
