:host {
  display: grid;
  grid-template-areas: 'title comment' 'owner comment';
  grid-template-columns: auto 3rem;
  grid-template-rows: max-content max-content;
  grid-gap: 0.25rem 1rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 0.7rem;
  position: relative;
  background: white;

  .task-identifier {
    grid-area: identifier;
    min-width: 40px;
  }

  .task-title {
    grid-area: title;
    font-size: 1.2rem;
    color: #2c2b2b;

    .index-indicator {
      min-width: 40px;
      text-align: left;
    }

    .title-text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 1.2rem;
    }
  }

  .task-owner {
    grid-area: owner;
  }

  .task-comments {
    grid-area: comment;
    justify-self: center;
    align-self: center;
  }

  .task-status {
    border-radius: 0.72rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0.32rem 0.3rem;
  }
}
