.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-nav-container {
  width: 230px;

  .wrapper-sidebar {
    grid-template-areas: 'navigation' 'social';
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr;

    .navigation {
      grid-area: navigation;
      width: inherit;
      height: 500px;
    }

    .social {
      grid-area: social;
      width: inherit;
    }
  }
}

.router-content {
  grid-template-areas: 'top' 'body';
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  min-height: 100vh;
}
