<div class="navigation-bar mat-elevation-z5">
  <div class="top-buttons">
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/dashboard">
      Dashboard
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/note/create">
      Quick Note
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/project/create">
      Create Project
    </button>
    <hr class="divider">
  </div>

  <div class="bot-buttons">
    <hr class="divider">

    <button (click)="openDialogFriends()"
            class="button"
            color="primary"
            mat-button>
      Friends
    </button>
    <button (click)="openDialogSetting()"
            class="button"
            color="primary"
            mat-button>
      Setting
    </button>
    <button (click)="openDialogAccount()"
            class="button"
            color="primary"
            mat-button routerLink="/account">
      Account
    </button>
  </div>
</div>
