<div class="navigation-bar">
  <div class="top-buttons">
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/homepage">
      Dashboard
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/quicknote">
      Quick Note
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/makeplan">
      Make Plan
    </button>
    <hr class="divider">
  </div>

  <div class="bot-buttons">
    <hr class="divider">
    <button class="button"
            color="primary"
            mat-button>
      Friends
    </button>
    <button class="button"
            color="primary"
            mat-button>
      Setting
    </button>
    <button class="button"
            color="primary"
            mat-button>
      Account
    </button>
  </div>
</div>
