<div class="navigation-bar mat-elevation-z5">
  <div class="top-buttons">
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/dashboard">
      Dashboard
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/note/create">
      Quick Note
    </button>
    <button class="button"
            color="primary"
            mat-flat-button
            routerLink="/plan/create">
      Make Plan
    </button>
    <hr class="divider">
  </div>

  <div class="bot-buttons">
    <hr class="divider">
    <button class="button"
            color="primary"
            mat-button>
      Friends
    </button>
    <button class="button"
            color="primary"
            mat-button>
      Setting
    </button>
    <button class="button"
            color="primary"
            mat-button>
      Account
    </button>
  </div>
</div>
