.update-info{
  display: grid;
  place-content: center;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-top: 3rem;

  .image{
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
  }
}

.button-custom{
  width: max-content;
  height: max-content;
}
