<form [formGroup]="updateUserForm" class="update-info" enctype="multipart/form-data">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input formControlName="username"
           matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name"
           matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date of birth</mat-label>
    <input matInput
           formControlName="dob"
           [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <img class="image" [src]="user?.avatar" alt="">
  <input type="file" formControlName="avatar">

  <button class="button-custom" mat-raised-button color="warn" (click)="updateUser()">Update</button>
</form>
