<form [formGroup]="createNoteFrom" action="">
  <mat-card class="general-information">
    <mat-card-title>
      Note Information
    </mat-card-title>
    <mat-card-content class="general-section-content">
      <mat-form-field appearance="fill" class="span-all">
        <mat-label>Title</mat-label>
        <input formControlName="Title" matInput
               name="Title"
               required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="span-all">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="Priority" required>
          <mat-option value="1">Important</mat-option>
          <mat-option value="2">Normal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="span-all">
        <mat-label>Project</mat-label>
        <mat-select formControlName="ProjectId">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let project of projects" value="{{project._id}}">{{project.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="span-all">
        <mat-label>Label Color</mat-label>
        <mat-select>
          <mat-option value="">None</mat-option>
          <mat-option value="green">Green</mat-option>
          <mat-option value="red">Red</mat-option>
          <mat-option value="orange">Orange</mat-option>
          <mat-option value="blue">Blue</mat-option>
          <mat-option value="pink">Pink</mat-option>
          <mat-option value="black">Black</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="detail-information">
    <mat-card-title>
      Note Description
    </mat-card-title>
    <mat-card-content class="detail-section-content">
      <!--  note-input-paper + red/green/blue/orange/...  -->
      <textarea class="note-input-paper hand-writing mat-elevation-z5 red"
                formControlName="Description"
                maxlength="200"
                minlength="0"
                name="Description"
                placeholder="Detail of the note..."
                required></textarea>
      <small class="count-character">
        0/200
      </small>
    </mat-card-content>
  </mat-card>

  <mat-card class="confirmation">
    <button (click)="createNote()"
            [disabled]="createNoteFrom.invalid"
            class="button"
            color="primary"
            mat-raised-button>
      Create Note
    </button>
  </mat-card>
</form>
