:host {
  display: grid;
  grid-template-areas: 'nav-bar router chat-bar';
  grid-template-columns: minmax(4rem, 250px) auto minmax(4rem, 250px);
  width: 100vw;
  height: 100vh;

  .nav-bar {
    grid-area: nav-bar;
    z-index: 100;
  }

  .page {
    grid-area: router;
    display: grid;
    grid-template-areas: 'breadcrumb' 'route';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto;
    height: 100vh;
    z-index: 1;

    .breadcrumb {
      grid-area: breadcrumb;
      display: grid;
      grid-template-columns: auto 2rem;
      grid-template-rows: 1fr;
      padding-left: 1rem;
      background: white;
      z-index: 2;

      .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > *:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        .notifications {
          display: flex;

          > *:not(:last-child) {
            margin-right: 0.5rem;
          }
        }

        .breadcrumb-routes {
          display: flex;
          align-items: center;

          .breadcrumb-route {
            font-weight: bold;
            color: #2d314a;
            margin-right: 2rem;
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;

            &:not(:last-child):after {
              content: '/';
              position: absolute;
              right: -1rem;
              top: 0;
              bottom: 0;
              transform: translate(50%);
            }
          }
        }
      }
    }

    .route {
      grid-area: route;
      height: calc(100vh - 5rem);
      overflow: auto;
      z-index: 1;
    }
  }

  .chat-bar {
    grid-area: chat-bar;
    z-index: 100;
  }
}
