<mat-sidenav-container class="layout-container">
  <mat-sidenav class="bg-darker cl-white side-nav-container"
               mode="side"
               opened>
    <div class="grid wrapper-sidebar">
      <app-sidenav class="navigation"></app-sidenav>
      <app-chat class="social"></app-chat>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="flex flex-d-col">
    <div class="breadcrumb mat-elevation-z4">
      <div class="left-side">
        <div class="breadcrumb-routes">
          <div class="breadcrumb-route">
            {{(breadcrumbState | async)?.current.title}}
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
