<mat-sidenav-container class="layout-container">
  <mat-sidenav class="bg-darker cl-white side-nav-container"
               mode="side"
               opened>
    <div class="grid wrapper-sidebar">
      <app-sidenav class="navigation"></app-sidenav>
      <app-list-friend class="social"></app-list-friend>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid relative router-content">
      <app-router-breadcrumb></app-router-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
