<div class="note-list">

  <div *ngFor="let note of notes|async"
       class="note-input-paper note-item">
    <div class="note-title">
      {{note.title}}
    </div>
    <small class="text-muted note-startDate">
      {{note.createdAt | date: 'dd/MM/yyyy - hh:mm:ss'}}
    </small>
    <div class="whitespace-pre-wrap note-content">
      {{note.description}}
    </div>
    <div class="flex align-items-center mt1 note-project">
      <div class="grid place-item-center icon-represent mat-elevation-z1 mr1">
        PR
      </div>
      <div class="whitespace-nowrap of-hidden text-overflow-ellipsis name">
        {{note.project.title}}
      </div>
    </div>
  </div>

  <div class="note-input-paper note-item">
    <div class="note-title">
      123
    </div>
    <small class="note-startDate">
      1231231
    </small>
    <div class="whitespace-pre-wrap note-content">
      12322222
    </div>
    <div class="flex align-items-center mt1 note-project">
      <div class="grid place-item-center icon-represent mat-elevation-z1 mr1">
        PR
      </div>
      <div class="whitespace-nowrap of-hidden text-overflow-ellipsis name">
        Project RushB
      </div>
    </div>
  </div>

</div>
