<div class="note-list">

  <div *ngFor="let note of notes|async"
       class="note-input-paper relative note-item">
    <div class="note-title">
      {{note.title}}
    </div>
    <small class="text-muted note-startDate">
      {{note.createdAt | date: 'dd/MM/yyyy - hh:mm:ss'}}
    </small>
    <div class="whitespace-pre-wrap note-content">
      {{note.description}}
    </div>
    <div class="flex align-items-center mt1 note-project">
      <div [ngStyle]="{backgroundColor: note.project.colorCover, color: note.project.colorText}"
           class="grid place-item-center icon-represent mat-elevation-z1 mr1">
        PR
      </div>
      <div class="whitespace-nowrap of-hidden text-overflow-ellipsis name">
        {{note.project.title}}
      </div>
    </div>

    <div class="absolute flex justify-flex-end button-action">
      <button color="accent"
              mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
      <button color="warn"
              mat-mini-fab
              style="margin-left: 1rem">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</div>
