<div class="fw-bold inline-flex align-items-center task-title">
  <div class="flex index-indicator">
    #2
  </div>
  <div class="block title-text">
    Do the task detail!
  </div>
  <div class="ml05 flex bg-warning tt-capitalize cl-white task-status">
    Important
  </div>
</div>

<small class="text-muted task-owner">
  by
  <span class="text-info">Do Hoang Nam</span>
  on
  <span class="fw-bold">23/02/2012 - 23:12:44</span>
</small>

<div class="task-comments">
  <div class="icon"
       matBadge="12">
    <mat-icon class="text-muted">message</mat-icon>
  </div>
</div>
