@import "src/styles/vars";
@import "src/styles/atomic";
@import "src/styles/scrollbar";
@import "src/styles/note";
@import "src/styles/button";
@import "src/styles/font";
@import "src/styles/markdown";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--main-color);
  word-wrap: break-word;
}

.setting-modal-box {
  mat-dialog-container {
    padding: 0;
  }
}

ol, ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.create-note-dialog {
  .mat-dialog-container {
    padding: 0;
    overflow: visible;
  }
}
