<form [formGroup]="readNoteForm"
      class="note-board">
  <input class="title"
         formControlName="noteTitle"
         maxlength="100"
         name="noteTitle">
  <mat-form-field class="dob">
    <mat-label>Date Created</mat-label>
    <input [matDatepicker]="picker"
           formControlName="noteDate"
           matInput
           name="noteDate">
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <textarea class="paragraph hand-writing" cols="30"
            formControlName="noteDescription"
            name="notePara"
            rows="10">
  </textarea>
  <mat-form-field class="project-link">
    <mat-label>For Project</mat-label>
    <input matInput placeholder="project 1">
  </mat-form-field>
  <div class="btn">
    <button (click)="updateNote()" [disabled]="readNoteForm.invalid || !readNoteForm.dirty" mat-raised-button>Save
    </button>
    <button (click)="showAlertDelete()" mat-raised-button>Delete</button>
  </div>

  <mat-card *ngIf="alertDelete" class="alertDelete">
    <p>Do you confirm Delete this note ?</p>
    <button (click)="deleteNote(noteId.value)" class="alert-btn-delete" mat-raised-button>Delete</button>
    <button (click)="hideAlertDelete()" class="alert-btn-cancel" mat-raised-button>Cancel</button>
  </mat-card>
</form>
