.plan-board{
  display: grid;
  grid-template-columns: auto 10rem;
  grid-template-rows: 5rem auto;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  padding: 2rem;
  margin-top: 1rem;
  background: var(--note-color);
  height: 50rem;
  box-shadow: 0 4px 8px 4px rgba(155, 155, 155);

  .title{
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 2rem;
    align-self: center;
    border: none;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .dob{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 1rem 2rem 0 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 4px;
  }

  .listTask{
    grid-column: 1/2;
    grid-row: 2/3;
    background: var(--main-color);
    grid-auto-rows: auto;
    grid-row-gap: 1rem;

    .task{
      background: white;
      display: grid;
      grid-template-columns: auto 5rem 5rem 5rem;
      grid-column-gap: 1rem;
      height: max-content;
      padding: 1rem;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      .task-input{
        grid-column-gap: 1/2;
        border: 1px solid silver;
        border-radius: 4px;
        padding: 0.5rem;
        background: white;

        &:disabled{
          margin: -1rem;
          border: none;
        }
      }
      .task-btn-activate{
        grid-column-gap: 2/3;
        width: 5rem;
        align-self: center;
        justify-self: center;
      }
      .task-btn-disable{
        grid-column-gap: 3/4;
        width: 5rem;
        align-self: center;
        justify-self: center;
      }
      .task-btn-delete{
        grid-column-gap: 4/5;
        width: 5rem;
        align-self: center;
        justify-self: center;
      }
    }
  }

  .btn{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 1rem;

    button{
      width: 10rem;
      height: 2rem;
    }
  }


}

//.paragraph{
//  grid-column: 1/2;
//  grid-row: 2/3;
//  outline: none;
//  margin: 0 0 2rem 0;
//  line-height: 2rem;
//  resize: none;
//  border: none;
//  border-top: 1px solid black;
//  border-radius: 4px;
//  padding: 1rem;
//  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//}
