<div class="grid pl1 pr1 pb1 wrapper">
  <div class="grid sticky top0 bg-white mat-elevation-z1 detail task-title">
    <div class="task-title-text bg-transparent title-size fw-bold bs-none">
      #{{task?.indicator}} - {{task?.title}}
    </div>

    <div *ngIf="userId === task?.issuer._id"
         class="button">
      <button mat-raised-button>
        Edit
      </button>
    </div>

    <div class="inline-flex align-items-center meta">
      <div class="relative status-pill">
        <div [class.text-danger]="task?.status === 1"
             [class.text-success]="task?.status === 0"
             class="pr05 tt-uppercase fw-bold"
             style="font-size: 1rem">
          <ng-container *ngIf="task?.status === 1">Closed</ng-container>
          <ng-container *ngIf="task?.status === 0">Open</ng-container>
        </div>
      </div>
      <div class="text-muted relative">
        created by
        <span [matTooltip]="task?.issuer?.username"
              class="fw-bold text-info">
          {{task?.issuer?.name}}
        </span>
        on
        <span [matTooltip]="task?.createdAt | date: 'hh:mm:ss'">
        {{task?.createdAt | date}}
      </span>
      </div>
    </div>
  </div>

  <div class="pl1 flex flex-d-col task-context">

    <app-task-content [task]="task"></app-task-content>

    <app-task-comment *ngFor="let comment of (comments | async)"
                      [comment]="comment"
                      [task]="task"></app-task-comment>

    <ng-container *ngIf="task?.status === TASK_STATUS.open">
      <app-task-comment-input [project]="project"
                              [task]="task"></app-task-comment-input>
    </ng-container>

    <ng-container *ngIf="task?.status === TASK_STATUS.closed">
      <div class="ta-center p-1 text-muted">
        This task is closed and is in archive mode. You can not comment on this.
      </div>
      <div *ngIf="userId === task?.issuer._id" class="p1 flex justify-center">
        <button (click)="reOpen()"
                color="primary"
                mat-flat-button>
          Open this task
        </button>
      </div>
    </ng-container>

  </div>

</div>
