.mat-stepper-horizontal {
  min-height: 100%;
}

.mat-form-field {
  margin-top: 16px;
}

.text-muted {
  color: #848484;
}

.fw-lighter {
  font-weight: lighter;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-d-column {
  flex-direction: column;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.project-meta {
  grid-template-areas: 'description end-date' 'description priority';
  grid-gap: 1rem;
  grid-template-columns: auto 200px;
  grid-template-rows: max-content auto;

  .priority {
    grid-area: priority;
    align-self: start;
  }

  .end-date {
    grid-area: end-date;
    align-self: start;
  }

  .description {
    grid-area: description;
  }

  .mat-form-field {
    margin-top: 0;
  }
}

.mb-1rem {
  margin-bottom: 1rem;
}
