<div class="chat-sidebar mat-elevation-z5">
  <div class="top">
    <div class="row-card user-self">
      <img alt="" src="">
      <h3 class="username">
        {{username}}
      </h3>
      <small class="status online">
        Online
      </small>
    </div>
  </div>

  <div class="list-friend">
    <div class="title">
      <h3>
        Bạn bè
      </h3>
      <button style="margin-left: 3rem" mat-raised-button (click)="openChat()">Chat</button>
    </div>
    <div class="list" id="listFriend">
      <div *ngFor="let user of listUser"
           class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username" name="username">
          {{user}}
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
    </div>
  </div>

  <mat-card class="chat-inbox" *ngIf="chatWindow">
    <mat-card class="friend">
<!--      <img alt="" class="friend-img" src="">-->
<!--      <p class="friend-name">Do Hoang Nam</p>-->
      <button mat-raised-button (click)="closeChat()">Close</button>
    </mat-card>
    <mat-card class="chat-box">
      <div id="chat-box">

      </div>
      <div id="noTi-typing">

      </div>
    </mat-card>
    <mat-card class="user-chat">
      <input (focus)="onFocus()"
             (focusout)="outFocus()"
             [(ngModel)]="message"
             class="user-input"
             id="input-chat" name="message"
             type="text"
      >
      <button (click)="sendMessage()"
              class="user-submit-btn"
              mat-raised-button>Send
      </button>
    </mat-card>
  </mat-card>

</div>
