<div class="chat-sidebar mat-elevation-z5">
  <div class="top">
    <div class="row-card user-self">
      <img alt="" src="">
      <h3 class="username">
        Son Nguyen
      </h3>
      <small class="status online">
        Online
      </small>
    </div>
  </div>

  <div class="list-friend">
    <div class="title">
      <h3>
        Bạn bè
      </h3>
    </div>
    <div class="list" id="listFriend">
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username" name="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
    </div>
  </div>

  <mat-card class="chat-inbox">
    <mat-card class="friend">
      <img alt="" class="friend-img" src="">
      <p class="friend-name">Do Hoang Nam</p>
    </mat-card>
    <mat-card class="chat-box">
      <div id="chat-box">

      </div>
      <div id="noTi-typing">

      </div>
    </mat-card>
    <mat-card class="user-chat">
      <input class="user-input"
             id="input-chat"
             name="message"
             type="text"
             (focus)="onFocus()" (focusout)="outFocus()"
             [(ngModel)]="message"
      >
      <button class="user-submit-btn"
              mat-raised-button
              (click)="sendMessage()">Send</button>
    </mat-card>
  </mat-card>

</div>
