<div class="chat-sidebar mat-elevation-z5">
  <div class="top">
    <div class="row-card user-self">
      <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
      <h3 class="username">
        Son Nguyen
      </h3>
      <small class="status online">
        Online
      </small>
    </div>
  </div>
  <div class="list-friend">
    <div class="title">
      <h3>
        Bạn bè
      </h3>
    </div>
    <div class="list">
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
      <div class="row-card friend">
        <img alt="" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg">
        <h5 class="username">
          Son Nguyen
        </h5>
        <small class="status online">
          Online
        </small>
      </div>
    </div>
  </div>
  <mat-card class="chat-inbox">
    <mat-card class="friend-name">Do Hoang Nam</mat-card>
    <mat-card class="chat-box"></mat-card>
    <mat-card class="user-chat"></mat-card>
  </mat-card>
</div>
