.chat-sidebar {
  height: 100vh;
  display: grid;
  grid-template-areas: 'user' 'friends' 'inbox';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto auto;
  background: white;

  .top {
    grid-area: user;
    border-bottom: 1px solid gray;
    padding: 1rem;
    background: #2d314a;

    .user-self {
      grid-template-columns: 3rem auto;
      grid-gap: 0.5rem 1rem;

      img {
        width: 3rem;
        height: 3rem;
        border: 2px solid white;
      }

      .username {
        color: white;
      }

      .status {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
        border-radius: 0.65rem;
        background: white;
      }
    }
  }

  .list-friend {
    grid-area: friends;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto;

    .title {
      display: flex;
      align-items: center;
      padding: 1rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .list {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 8rem);
      padding-top: 0.5rem;
      overflow: auto;

      .friend {
        padding: 0.5rem 1rem;
        grid-template-columns: 2rem auto;
        grid-column-gap: 0.5rem;
        margin-bottom: 0.5rem;

        img {
          border-radius: 50%;
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
          width: 2rem;
          height: 2rem;
        }

        .username {
          color: black;
        }
      }
    }
  }

  .chat-inbox {
    grid-area: inbox;
    width: 22rem;
    height: 26rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 17rem 1rem 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 0.5rem;

    display: grid;
    grid-template-rows: 3rem auto 3rem;
    grid-row-gap: 1rem;

    .friend {
      grid-row: 1/2;
      padding: 0.5rem;

      display: grid;
      grid-template-columns: 2rem auto;
      grid-column-gap: 0.5rem;

      .friend-img {
        grid-column: 1/2;
        border-radius: 50%;
        border: 1px solid black;
        width: 2rem;
        height: 2rem;
      }

      .friend-name {
        grid-column: 2/3;
        align-self: center;
      }
    }

    .chat-box {
      grid-row: 2/3;
      background: yellow;
    }

    .user-chat {
      grid-row: 3/4;

      display: grid;
      grid-template-columns: 14rem 4rem;
      grid-column-gap: 1rem;
      padding: 0.5rem;
      background: red;

      .user-input {
        grid-column: 1/2;
        height: 2rem;
        padding: 0.5rem;
        outline: none;
        border-radius: 4px;
      }

      .user-submit-btn {
        grid-column: 2/3;
      }
    }
  }
}


.row-card {
  display: grid;
  grid-template-areas: 'avatar name' 'avatar status';
  grid-template-rows: max-content auto;
  cursor: pointer;

  img {
    grid-area: avatar;
    border-radius: 50%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    object-position: center;
  }

  .username {
    grid-area: name;
    display: flex;
  }

  .status {
    justify-self: start;
    grid-area: status;
    background: white;
    display: grid;
    place-content: center;

    &.online {
      color: green;
    }
  }
}

