<div class="navbar">
  <div class="top">
    <div class="tag">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="">
      <p>Son Nguyen</p>
      <h5>Online</h5>
    </div>
  </div>
  <div class="listFriend">
    <div class="friend">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="">
      <p>Son Nguyen</p>
      <h5>Online</h5>
    </div>
    <div class="friend">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="">
      <p>Son Nguyen</p>
      <h5>Online</h5>
    </div>
    <div class="friend">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="">
      <p>Son Nguyen</p>
      <h5>Online</h5>
    </div>
    <div class="friend">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="">
      <p>Son Nguyen</p>
      <h5>Online</h5>
    </div>
  </div>
</div>

