<!--<mat-tab-group>-->
<!--  <mat-tab label="Note">-->
<!--    <section class="section">-->
<!--      <div class="tbl-content">-->
<!--        <div class="table">-->
<!--          <a *ngFor="let note of notes" [routerLink]="['/notes', 'view', note._id]" class="tag" href="">-->
<!--            <p class="title">{{note.noteTitle}}</p>-->
<!--            <p class="date">{{note.noteDate | date:"dd-MM-yyyy hh:mm:ss"}}</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </mat-tab>-->


<!--  <mat-tab label="Plan">-->
<!--    <section class="section">-->
<!--      <div class="tbl-content">-->
<!--        <div class="table">-->
<!--          <a *ngFor="let plan of plans" [routerLink]="['/plans', 'view', plan._id]" class="tag" href="">-->
<!--            <p class="title">{{plan.planTitle}}</p>-->
<!--            <p class="date">{{plan.planDate | date:"dd-MM-yyyy hh:mm:ss"}}</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->

<div class="mission-column">
  <div class="upper-control mat-elevation-z5">
    <div class="title">
      Your notes
    </div>
    <label class="search">
      <input class="input-custom"
             id="search_note"
             name="search_note"
             placeholder="Find your note here"
             type="text">
      <mat-icon class="icon-input">search</mat-icon>
    </label>
  </div>

  <div class="list-available">
    <a *ngFor="let note of notes"
       [class.finished]="note.Status"
       [class.high]="note.Priority === 1"
       [class.medium]="note.Priority === 2"
       [routerLink]="['/note', 'view', note._id]"
       class="item mat-elevation-z1 note-card">
      <div class="header">
        {{note.Title}}
        <mat-icon class="icon-header">zoom_out_map</mat-icon>
      </div>
      <small class="time">
        {{note.StartDate | date:"dd-MM-yyyy hh:mm:ss"}}
      </small>
      <textarea class="textarea-custom" disabled>{{note.Description}}</textarea>
    </a>

    <a class="see-more" href="">See more</a>
  </div>
</div>

<div class="mission-column">
  <div class="upper-control mat-elevation-z5">
    <div class="title">
      Your Projects
    </div>
    <label class="search">
      <input class="input-custom"
             id="search_task"
             name="search_note"
             placeholder="Find your note here"
             type="text">
      <mat-icon class="icon-input">search</mat-icon>
    </label>
  </div>
  <div class="list-available">
    <a *ngFor="let project of projects"
       [class.finished]="project.Status === true"
       [class.high]="project.Priority === 1"
       [class.medium]="project.Priority === 2"
       [routerLink]="['/project', 'view', project._id]"
       class="item mat-elevation-z1 note-card">
      <div class="header">
        {{project.Title}}
        <mat-icon class="icon-header">zoom_out_map</mat-icon>
      </div>
      <small class="time">
        {{project.StartDate | date:"dd-MM-yyyy hh:mm:ss"}}
      </small>
      <textarea class="textarea-custom" disabled>{{project.Description}}</textarea>
    </a>
    <a class="see-more" href="">See more</a>
  </div>
</div>
