<mat-tab-group>
  <mat-tab label="Note">
    <section class="section">
<!--      <div class="tbl-header">-->
<!--        <table class="table" cellpadding="0" cellspacing="0" border="0">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th class="th">Title</th>-->
<!--            <th class="th">Created at</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--        </table>-->
<!--      </div>-->
      <div class="tbl-content">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
          <tbody>
          <tr [routerLink]="['/note', note._id]" *ngFor="let note of notes">
            <td class="td">{{note.noteTitle}}</td>
            <td class="td">{{note.noteDate | date:"dd-MM-yyyy hh:mm:ss"}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </mat-tab>


  <mat-tab label="Plan">
    <section class="section">
      <!--      <div class="tbl-header">-->
      <!--        <table class="table" cellpadding="0" cellspacing="0" border="0">-->
      <!--          <thead>-->
      <!--          <tr>-->
      <!--            <th class="th">Title</th>-->
      <!--            <th class="th">Created at</th>-->
      <!--          </tr>-->
      <!--          </thead>-->
      <!--        </table>-->
      <!--      </div>-->
      <div class="tbl-content">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
          <tbody>
          <tr routerLink="/plan">
            <td class="td">AAA</td>
            <td class="td">2019-20-02</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
