.section {
  margin: 0;
  background: -webkit-linear-gradient(left, #fdc830, #f37335);
  background: linear-gradient(to right, #fdc830, #f37335);

  .tbl-content {
    height: max-content;
    overflow-x: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);

    .table {
      width: 100%;

      .tag {
        padding: 0.5rem;
        text-align: left;
        vertical-align: middle;
        text-transform: uppercase;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        text-decoration: none;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .title {
          grid-column: 1/2;
        }

        .date {
          grid-column: 2/3;
        }
      }
    }
  }
}

