<!--<mat-tab-group>-->
<!--  <mat-tab label="Note">-->
<!--    <section class="section">-->
<!--      <div class="tbl-content">-->
<!--        <div class="table">-->
<!--          <a *ngFor="let note of notes" [routerLink]="['/notes', 'view', note._id]" class="tag" href="">-->
<!--            <p class="title">{{note.noteTitle}}</p>-->
<!--            <p class="date">{{note.noteDate | date:"dd-MM-yyyy hh:mm:ss"}}</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </mat-tab>-->


<!--  <mat-tab label="Plan">-->
<!--    <section class="section">-->
<!--      <div class="tbl-content">-->
<!--        <div class="table">-->
<!--          <a *ngFor="let plan of plans" [routerLink]="['/plans', 'view', plan._id]" class="tag" href="">-->
<!--            <p class="title">{{plan.planTitle}}</p>-->
<!--            <p class="date">{{plan.planDate | date:"dd-MM-yyyy hh:mm:ss"}}</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->

<div class="mission-column">
  <div class="upper-control mat-elevation-z5">
    <div class="title">
      Your notes
    </div>
    <label class="search">
      <input class="input-custom"
             id="search_note"
             name="search_note"
             placeholder="Find your note here"
             type="text">
      <mat-icon class="icon-input">search</mat-icon>
    </label>
  </div>

  <div class="list-available">
    <a *ngFor="let note of notes"
       [class.finished]="note.noteStatus"
       [class.high]="note.notePriority === 1"
       [class.medium]="note.notePriority === 2"
       [routerLink]="['/notes', 'view', note._id]"
       class="item mat-elevation-z1 note-card">
      <div class="header">
        {{note.noteTitle}}
        <mat-icon class="icon-header">zoom_out_map</mat-icon>
      </div>
      <small class="time">
        {{note.noteStartDate | date:"dd-MM-yyyy hh:mm:ss"}}
      </small>
      <textarea class="textarea-custom" disabled>{{note.noteDescription}}</textarea>
    </a>

    <a class="see-more" href="">See more</a>
  </div>
</div>

<div class="mission-column">
  <div class="upper-control mat-elevation-z5">
    <div class="title">
      Your tasks
    </div>
    <label class="search">
      <input class="input-custom"
             id="search_task"
             name="search_note"
             placeholder="Find your note here"
             type="text">
      <mat-icon class="icon-input">search</mat-icon>
    </label>
  </div>
  <div class="list-available">
    <a *ngFor="let project of projects"
       [class.finished]="project.projectStatus"
       [class.high]="project.projectPriority === 1"
       [class.medium]="project.projectPriority === 2"
       [routerLink]="['/projects', 'view', project._id]"
       class="item mat-elevation-z1 note-card">
      <div class="header">
        {{project.projectTitle}}
        <mat-icon class="icon-header">zoom_out_map</mat-icon>
      </div>
      <small class="time">
        {{project.projectStartDate | date:"dd-MM-yyyy hh:mm:ss"}}
      </small>
      <textarea class="textarea-custom" disabled>{{project.projectDescription}}</textarea>
    </a>
    <a class="see-more" href="">See more</a>
  </div>
</div>
