<form [formGroup]="createNoteFrom"
      class="form-notes hand-writing">
  <label [class.important]="NOTE_Primary.important == priority.value"
         class="grid priority-input">
    Priority:
    <select formControlName="priority">
      <option [value]="0">Normal</option>
      <option [value]="1">Important</option>
    </select>
  </label>

  <label class="title-input">
    <input formControlName="title"
           placeholder="Title..."
           type="text">
  </label>

  <small class="text-muted">
    {{date | date: 'dd/MM/yyyy - hh:mm:ss'}}
  </small>

  <label class="description-input">
    <textarea formControlName="description"
              maxlength="200"
              minlength="0"
              name="description"
              placeholder="Detail of the note..."
              required></textarea>
  </label>

  <label class="grid project-input">
    Project:
    <select formControlName="project">
      <option [value]="null">None</option>
      <option *ngFor="let project of projects | async"
              [value]="project._id">
        {{project.title}}
      </option>
    </select>
  </label>

  <div class="button-action">
    <button (click)="cancel()"
            color="accent"
            mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
    <button (click)="update()"
            *ngIf="noteData.action === ActionDialog.update"
            [disabled]="createNoteFrom.invalid"
            color="primary"
            mat-mini-fab
            style="margin-left: 1rem">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="createNote()"
            *ngIf="noteData.action === ActionDialog.create"
            [disabled]="createNoteFrom.invalid"
            color="primary"
            mat-mini-fab
            style="margin-left: 1rem">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</form>
