<p class="title">Note</p>
<div class="note-board">
  <p maxlength="100">KẾ HOẠCH ĐẦU TƯ VÀ PHÁT TRIỂN TP HCM</p>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <textarea name="" id="" cols="30" rows="10">Sở Thông tin và Truyền thông được giao xây dựng khung kiến trúc chung để hướng dẫn các quận triểnkhai đề án đến các phường trong năm 2019; xây dựng Quy chế tích hợp và vận hành Kho dữ liệudùng chung và hệ sinh thái mở, Trung tâm Điều hành đô thị thông minh, Trung tâm Nghiêncứu mô phỏng dự báo kinh tế - xã hội; xây dựng Đề án đào tạo nguồn nhân lực cho đô thịthông minh giai đoạn 2019 – 2025; tổ chức tập huấn cho nguồn nhân lực thực hiện đề áncũng như hướng dẫn người dân tham gia ứng dụng dịch vụ thông minh.
  </textarea>
</div>
