.note-board{
  display: grid;
  grid-template-columns: auto 10rem;
  grid-template-rows: 5rem auto;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  padding: 2rem;
  margin-top: 1rem;
  background: var(--note-color);
  height: 50rem;
  box-shadow: 0 4px 8px 4px rgba(155, 155, 155);

  .title{
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 2rem;
    align-self: center;
    border: none;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .dob{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 1rem 2rem 0 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 4px;
  }

  .paragraph{
    grid-column: 1/2;
    grid-row: 2/3;
    outline: none;
    margin: 0 0 2rem 0;
    line-height: 2rem;
    resize: none;
    border: none;
    border-top: 1px solid black;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .btn{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 1rem;

    button{
      width: 10rem;
      height: 2rem;
    }
  }

  .alertDelete{
    width: 20rem;
    height: 8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 4rem 4rem;
    padding: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    p{
      grid-column: 1/3;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
    }
    button{
      width: 5rem;
      height: 2rem;
      justify-self: center;
      align-self: center;
    }
    .alert-btn-delete{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .alert-btn-cancel{
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
