<div class="grid container">
  <label class="relative flex justify-flex-end input">
    <input [formControl]="friendSearchForm"
           class="input-custom"
           placeholder="Find friends by name, etc."
           type="text">
    <mat-icon>search</mat-icon>
  </label>
  <hr class="divider">
  <div class="grid list-friends">

    <div *ngIf="strangers?.length > 0"
         class="grid grid-friend search-friend">
      <small class="text-muted span-all">Find strangers</small>

      <app-user-pill *ngFor="let user of strangers"
                     [friend]="user"
                     [isStranger]="true"
                     class="relative">
      </app-user-pill>

      <div class="ta-center text-muted cursor-pointer user-select-none p1em span-all">
        More result
      </div>
    </div>

    <div class="grid grid-friend">
      <small class="text-muted span-all">From friend list</small>

      <app-user-pill *ngFor="let user of friends"
                     [friend]="user"
                     [isStranger]="false"
                     class="relative"></app-user-pill>

      <div class="ta-center text-muted cursor-pointer user-select-none p1em span-all">
        More result
      </div>

    </div>
  </div>
</div>
