.container {
  max-width: 1096px;
  min-height: calc(100vh - 6rem);
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  grid-gap: 1rem;

  .input {
    .input-custom {
      width: 250px;
    }

    mat-icon {
      right: 0.5rem;
    }
  }


  .divider {
    border: 1px solid #cccccc;

    &.not-full {
      width: 80%;
    }
  }

  .list-user {
    grid-template-areas: 'friends strangers';
    grid-template-columns: auto 250px;
    grid-template-rows: max-content;
    align-items: start;
    grid-gap: 2rem;

    .strangers {
      grid-area: strangers;
      border-top: 1px solid #cccccc;
    }

    .friends {
      grid-area: friends;
    }

    .grid-user {
      grid-template-columns: repeat(auto-fit, 250px);
      grid-template-rows: 1fr;
      grid-gap: 1rem;

      .span-all {
        grid-column: 1 / -1;
      }
    }
  }
}

.input-custom {
  border: none;
  outline: none;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 0.8rem;
  background: #efefef;

  &:hover, &:focus-within, &:focus {
    transition: background-color 0.1s;
    background: #e5e5e5;
  }
}
