<mat-tab-group>
  <mat-tab label="List Friend">

  </mat-tab>
  <mat-tab label="Add Friend">
    <div class="add-friend">
      <mat-form-field class="input">
        <mat-label>Friend's username/nam</mat-label>
        <input matInput placeholder="Friend's username/name" [(ngModel)]="username">
      </mat-form-field>
      <button class="button" (click)="searchFriend()" mat-raised-button>Search</button>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let user of User">
          {{user.username}} <br> {{user.name}}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-tab>
</mat-tab-group>

