<div class="avatar">
  <img alt=""
       class="w100pct h100pct obj-fit-cover obj-pos-center mat-elevation-z1 br50 of-hidden"
       src="http://localhost:3000/uploads/sample.png">
</div>
<div class="flex flex-d-col bg-white content-section">
  <div class="grid meta">
    <div class="fw-bold text-info username">
      Do Hoang Nam
    </div>
    <small class="text-muted time">
      updated 23 hours ago
    </small>
    <div class="text-muted flex flex-center option">
      <mat-icon>settings</mat-icon>
    </div>
  </div>

  <div class="p1 grid content">
    <div class="hide-external relative of-hidden mark-down-content">
      <h1>Marked - Markdown Parser</h1>
      <p>
        <a href="https://github.com/markedjs/marked/">Marked</a>
        lets you convert
        <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
        into HTML. Markdown is a simple text format whose goal is to be very easy to read and write, even when not
        converted to HTML. This demo page will let you type anything you like and see how it gets converted. Live. No
        more
        waiting around.
      </p>
      <h2>How To Use The Demo</h2>
      <ol>
        <li>Type in stuff on the left.</li>
        <li>See the live updates on the right.</li>
      </ol>
      <p>
        That&#39;s it. Pretty simple. There&#39;s also a drop-down option in the upper right to switch between various
        views:
      </p>
      <ul>
        <li>
          <strong>Preview:</strong> A live display of the generated HTML as it would render in a browser.
        </li>
        <li>
          <strong>HTML Source:</strong> The generated HTML before your browser makes it pretty.
        </li>
        <li>
          <strong>Lexer Data:</strong>
          What
          <a href="https://github.com/markedjs/marked/">marked</a>
          uses internally, in case you like gory stuff like this.
        </li>
        <li>
          <strong>Quick Reference:</strong>
          A brief run-down of how to format things using markdown.
        </li>
      </ul>
      <h2>Why Markdown?</h2>
      <p>It&#39;s easy. It&#39;s not overly bloated, unlike HTML. Also, as the creator of
        <a href="http://daringfireball.net/projects/markdown/">markdown</a> says,
      </p>
      <blockquote>
        <p>
          The overriding design goal for Markdown&#39;s
          <br/>
          formatting syntax is to make it as readable
          as possible.
          The idea is that a
          Markdown-formatted document should be
          publishable as-is, as plain text, without
          looking like it&#39;s been marked up with tags<br/>or formatting instructions.
        </p>
      </blockquote>
      <p>
        Ready to start writing? Either start changing stuff on the left or
        <a href="/demo/?text=">clear everything</a>
        with a simple click.
      </p>
      <p>
        <img alt="Rushia Wink"
             src="https://user-images.githubusercontent.com/29449869/80130608-16736680-85c3-11ea-833b-d0d10dabf823.gif"/>
      </p>

      <div
          class="cursor-pointer user-select-none place-item-center absolute top0 left0 right0 bottom0 tt-capitalize see-more">
        View more
      </div>
    </div>

    <div class="flex flex-d-col resource-content">
      <small class="text-muted tt-capitalize mb05">
        Resources
      </small>
      <div class="flex ofx-auto mb1 images">
        <div class="of-hidden image-holder">
          <img alt="Rushia Wink"
               class="w100pct h100pct obj-pos-center obj-fit-cover"
               src="https://user-images.githubusercontent.com/29449869/80130608-16736680-85c3-11ea-833b-d0d10dabf823.gif"/>
        </div>
      </div>

      <small class="text-muted tt-capitalize mb05">
        Referenced tasks
      </small>

      <div class="flex flex-d-col ofy-auto references">
        <div class="grid align-content-center p05 reference-task">
          <div class="identify">
            #1 -
          </div>
          <div class="fw-bold name">
            Creating structure
          </div>
          <div class="text-danger status">
            Closed
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
