<p class="title">quick note</p>
<div class="table">
  <div class="table-left">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Priority</mat-label>
      <mat-select>
        <mat-option value="option">Important</mat-option>
        <mat-option value="option">Normal</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="table-right">
    <mat-form-field appearance="fill">
      <mat-label>Note</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
  <button class="button" mat-raised-button color="warn">Create Note</button>
</div>
