<div class="navbar">
  <div class="top-button">
    <button class="button" routerLink="/homepage" mat-button color="accent">Dashboard</button>
    <button class="button" routerLink="/quicknote" mat-button color="accent">Quick Note</button>
    <button class="button" routerLink="/makeplan" mat-button color="accent">Make Plan</button>
  </div>
  <div class="bot-button">
    <button class="button" mat-button color="accent">Friends</button>
    <button class="button" mat-button color="accent">Setting</button>
    <button class="button" mat-button color="accent">Account</button>
  </div>
</div>
