.navbar {
  width: 11rem;
  height: 100vh;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-row-gap: 1rem;
  box-shadow: 0.5rem 0 0.5rem -0.5rem rgba(0, 0, 0, 0.699);
  background: var(--main-color);

  .button {
    color: black;
    width: 10rem;

  }

  .top-button {
    grid-row: 1/2;
    border-bottom: 1px solid black;
  }

  .bot-button {
    grid-row: 2/3;
    border-top: 1px solid black;
  }
}
