.loading {
  left: 230px;
  z-index: 999;
}

.container {
  background: var(--main-color);
  min-height: 100vh;
}

.contrast {
  mix-blend-mode: difference;
}

.personalize-cover {
  min-height: 150px;
}
