<div class="main-section">
  <h1 class="mb0">
    Description
  </h1>
  <hr class="divider">
  <p>{{project?.description}}</p>
  <h1 class="mt3 mb0">Manager</h1>
  <hr class="divider">
  <mat-chip-list aria-label="Project manager">
    <mat-chip [matTooltip]="project?.manager.username">
      <img [alt]="project?.manager.name"
           [src]="project?.manager.avatar"
           class="obj-pos-center obj-fit-cover br50 mr05"
           style="width: 16px; height: 16px">
      {{project?.manager.name}}
    </mat-chip>
  </mat-chip-list>
  <h1 class="mt3 mb0">Moderator</h1>
  <hr class="divider">
  <mat-chip-list aria-label="Project manager">
    <mat-chip *ngFor="let mod of project?.moderator"
              [matTooltip]="mod.username">
      <img [alt]="mod.name"
           [src]="mod.avatar"
           class="obj-pos-center obj-fit-cover br50 mr05"
           style="width: 16px; height: 16px">
      {{mod.name}}
    </mat-chip>
  </mat-chip-list>
  <h1 class="mt3 mb0">Members</h1>
  <hr class="divider">
  <mat-chip-list aria-label="Project manager">
    <mat-chip *ngFor="let mem of project?.member"
              [matTooltip]="mem.username">
      <img [alt]="mem.name"
           [src]="mem.avatar"
           class="obj-pos-center obj-fit-cover br50 mr05"
           style="width: 16px; height: 16px">
      {{mem.name}}
    </mat-chip>
    <mat-chip *ngFor="let mem of project?.member"
              [matTooltip]="mem.username">
      <img [alt]="mem.name"
           [src]="mem.avatar"
           class="obj-pos-center obj-fit-cover br50 mr05"
           style="width: 16px; height: 16px">
      {{mem.name}}
    </mat-chip>
  </mat-chip-list>
</div>

<div class="meta-section">
  <h1 class="mb0">
    Status
  </h1>
  <hr class="divider">
  <p [class.text-danger]="project?.status"
     [class.text-success]="!project?.status"
     class="fw-bold">
    {{project?.status ? 'Finished' : 'Ongoing'}}
  </p>
  <h1 class="mt3 mb0">
    Starting date
  </h1>
  <hr class="divider">
  <p [matTooltip]="project?.createdAt | date: 'hh:mm:ss'"
     style="margin-bottom: 1.25rem">
    {{project?.createdAt | date: 'dd/MM/yyyy'}}
  </p>
  <h1 class="mt3 mb0">
    End date
  </h1>
  <ng-container *ngIf="project?.endDate">
    <p [matTooltip]="project?.endDate | date: 'hh:mm:ss'">
      {{project?.endDate | date: 'dd/MM/yyyy'}}
    </p>
  </ng-container>
  <ng-container *ngIf="!project?.endDate">
    <p class="text-muted">
      Not indicated yet.
    </p>
  </ng-container>
</div>
