<div class="grid pl1 pr1 pb1 wrapper">
  <div class="grid relative bg-white mat-elevation-z1 title-section">
    <div class="task-title bg-transparent fw-bold bs-none">
      #1 - Create new task detail view
    </div>
    <div class="button">
      <button mat-raised-button>
        Edit
      </button>
    </div>
    <div class="inline-flex meta">
      <div class="relative status-pill">

      </div>
      <div class="text-muted relative">
        created by
        <span class="text-info">
          Do Hoang Nam
        </span>
        on 23/12/2020 - 12:32:33
      </div>
    </div>
  </div>

  <div class="flex flex-d-col context-section">

    <app-task-comment></app-task-comment>

    <app-task-comment-input></app-task-comment-input>

  </div>

</div>
