.wrapper {
  max-width: 1000px;
  margin: auto;
}

.title-section {
  grid-template-areas: 'title button' 'meta button';
  grid-template-columns: auto max-content;
  grid-template-rows: max-content 1rem;
  grid-gap: 1rem 2rem;

  .task-title {
    grid-area: title;
    outline: none;
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .button {
    grid-area: button;
  }

  .meta {
    grid-area: meta;
  }
}

.grid-task {
  grid-template-columns: 3rem auto;
  grid-template-rows: 1fr;
  grid-gap: 1rem;

  .avatar {
    width: 3rem;
    height: 3rem;
  }
}

.task-deliver {}
