.wrapper {
  max-width: 1200px;
  margin: auto;
  grid-template-areas: 'title title' 'context properties';
  grid-template-columns: auto 300px;
  align-items: start;
  grid-gap: 1rem;
}

.context-section {
  grid-area: context;
}

.title-section {
  grid-area: title;
  grid-template-areas: 'title button' 'meta button';
  grid-template-columns: auto max-content;
  grid-template-rows: max-content 1rem;
  grid-gap: 1rem 2rem;
  border-radius: 0 0 6px 6px;
  padding: 1rem;

  .task-title {
    grid-area: title;
    outline: none;
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .button {
    grid-area: button;
  }

  .meta {
    grid-area: meta;
  }
}

.task-deliver {

}
