<div class="relative grid container-chat">
  <div class="text-muted user-select-none bg-darker pl1 pt1 pb05 fw-lighter">
    Friends - <small class="text-muted">{{listFriend.length}}</small>
  </div>

  <div class="ofy-scroll relative flex flex-d-col pb1 h100pct user-list">
    <div (click)="openChatDialogs(friend.username, friend._id)"
         *ngFor="let friend of listFriend"
         class="grid relative cursor-pointer user-select-none user-pill">
      <div class="grid place-item-center of-hidden br50 avatar">
        <img [src]="friend.avatar"
             alt="User Avatar"
             class="obj-fit-cover obj-pos-center w100pct h100pct mat-elevation-z1">
      </div>
      <div [class.text-muted]="friend.userStatus === 2"
           class="of-hidden whitespace-nowrap text-overflow-ellipsis name">
        {{friend.name}}
      </div>
      <div [class.offline]="friend.userStatus === 2"
           [class.online]="friend.userStatus === 1"
           class="flex status-online">
        <div class="br50 mr02 icon"></div>
        <div class="status-text">
          <ng-container *ngIf="friend.userStatus === 1">Online</ng-container>
          <ng-container *ngIf="friend.userStatus === 2">Offline</ng-container>
          <ng-container *ngIf="friend.userStatus === 3">Busy</ng-container>
        </div>
      </div>
    </div>

    <div class="user-search">

    </div>
  </div>
</div>
