<mat-horizontal-stepper #projectFormCreate
                        [linear]="true">
  <mat-step [stepControl]="projectForm">
    <form [formGroup]="projectForm"
          class="flex flex-d-column content-container">
      <ng-template matStepLabel>Project information</ng-template>
      <h1 class="text-muted fw-lighter">Information</h1>
      <hr class="mb-1rem">
      <mat-form-field appearance="outline">
        <mat-label>Project Title</mat-label>
        <input formControlName="title"
               matInput
               placeholder="Project Valorant"
               required>
      </mat-form-field>
      <div class="grid project-meta">

        <mat-form-field appearance="outline" class="description">
          <mat-label>Project Description</mat-label>
          <textarea [matTextareaAutosize]="false"
                    formControlName="description"
                    matInput
                    placeholder="Project FPS shooter"
                    required
                    style="min-height: 127px; width: 100%; resize: vertical"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="priority">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority" required>
            <mat-option style="color: red" value="1">Important</mat-option>
            <mat-option value="2">Normal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="end-date">
          <mat-label>End Date</mat-label>
          <input [matDatepicker]="picker"
                 formControlName="endDate"
                 matInput>
          <mat-datepicker-toggle [for]="picker"
                                 matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <h1 class="text-muted fw-lighter">Member</h1>
      <hr class="mb-1rem">

      <!--      Moderator-->
      <app-moderator-input [moderator]="moderator"
                           class="grid">
      </app-moderator-input>

      <!--      member-->
      <app-member-input [member]="member"
                        [moderator]="moderator"
                        class="grid">
      </app-member-input>

      <div class="flex justify-content-flex-end">
        <button (click)="createProject()"
                [disabled]="projectForm.invalid"
                color="primary"
                mat-raised-button
                matStepperNext>
          Create
        </button>
      </div>
    </form>
  </mat-step>

  <!--  <mat-step [stepControl]="taskForm"-->
  <!--            optional>-->
  <!--    <form [formGroup]="taskForm"-->
  <!--          class="flex flex-d-column content-container">-->
  <!--      <ng-template matStepLabel>Tasks</ng-template>-->

  <!--      <div *ngFor="let task of createdTasks.controls; let i = index;"-->
  <!--           formArrayName="createdTasks">-->
  <!--        <app-task-input [formGroupName]="i"-->
  <!--                        class="grid">-->
  <!--        </app-task-input>-->
  <!--      </div>-->
  <!--      <button (click)="createTask()"-->
  <!--              mat-raised-button>-->
  <!--        Add Task-->
  <!--      </button>-->

  <!--      <div class="flex justify-content-flex-end">-->
  <!--        <button mat-button matStepperPrevious>Back</button>-->
  <!--        <button mat-button matStepperNext>Next</button>-->
  <!--      </div>-->
  <!--    </form>-->
  <!--  </mat-step>-->

  <!--  <mat-step>-->
  <!--    <ng-template matStepLabel>Done</ng-template>-->
  <!--    <p>You are now done.</p>-->
  <!--    <div class="flex justify-content-flex-end">-->
  <!--      <button mat-button matStepperPrevious>-->
  <!--        Back-->
  <!--      </button>-->
  <!--      <button (click)="projectFormCreate.reset()" mat-button>Reset</button>-->
  <!--    </div>-->
  <!--  </mat-step>-->
</mat-horizontal-stepper>
