.box{
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto 3rem;

  .btn-logout{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .btn-close{
    grid-column: 3/4;
  }
}
