.menu {
  grid-area: menu;
  grid-template-columns: 1fr;
  height: inherit;

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-color: #333;
  }

  .url-header, .url-link, .url-item {
    grid-template-columns: max-content auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .url-link {
    transition: background-color 0.2s;

    &:before {
      position: absolute;
      content: '';
      top: 0.25rem;
      left: 0;
      bottom: 0.25rem;
      width: 4px;
      background: transparent;
      transition: background-color 0.2s;
    }

    &:hover {
      background: rgba(64, 64, 64, 0.8);
    }

    &.active {
      &:before {
        background: #00c851;
      }
    }
  }
}

.social {
  grid-area: social;
}

.user {
  grid-area: user;
}

.sticky {
  z-index: 100;
}
