<div class="relative menu">
  <div class="text-muted user-select-none pl1 pt1 pb05 top0 bg-darker sticky fw-lighter">
    Navigation
  </div>
  <a [routerLinkActiveOptions]="{exact: true}"
     class="td-none text-white user-select-none p1em grid relative url-link"
     routerLink="/dashboard"
     routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>

  <a [routerLinkActiveOptions]="{exact: true}"
     class="td-none text-white user-select-none p1em grid relative url-link"
     routerLink="/project"
     routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
    Projects
  </a>

  <div class="text-muted user-select-none pl1 pt1 pb05 top0 bg-darker sticky fw-lighter">
    Pinned projects
  </div>
  <app-project-menu *ngFor="let project of (projects | async); let isFirst = first"
                    [defaultExpandState]="isFirst"
                    [project]="project"
                    class="td-none user-select-none flex flex-d-col relative of-hidden combo-url">
  </app-project-menu>

  <small *ngIf="projectsLoading | async"
         class="text-muted user-select-none pl1 pt1 pb05 fw-lighter">
    Loading...
  </small>
</div>
