.markdown-content {
  color: #24292e;

  a {
    text-decoration: none;
    color: #0366d6;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h2, h3 {
    margin: 0.75rem 0;
  }

  p {
    margin-bottom: 16px;
  }

  blockquote {
    padding: 0 0.5rem 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
    margin-top: 0;
    margin-bottom: 16px;

    p {
      font-size: 14px;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    & > :first-child {
      margin-top: 0;
    }
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    margin-bottom: 0;
    word-break: normal;
    word-wrap: normal;
    margin-top: 0;
  }

  img {
    width: 100%;
    box-sizing: initial;
    background-color: #fff;
    border-style: none;
  }

  ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 16px;

    li {
      margin-left: 0;
    }
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }
}
