<div class="avatar">
  <img alt=""
       class="w100pct h100pct obj-fit-cover obj-pos-center mat-elevation-z1 br50 of-hidden"
       src="http://localhost:3000/uploads/sample.png">
</div>
<form [formGroup]="formInput"
      class="flex flex-d-col bg-white content-section">
  <div class="grid editor-meta">
    <small class="text-muted time">
      Markdown supported!
    </small>
    <div class="flex flex-center option">
      <button (click)="preview()"
              [class.active]="isPreview"
              class="bg-transparent pv05 ph1 outline-none btn-custom-preview"
              matRipple>
        Preview
      </button>
    </div>
  </div>

  <div class="p1 grid content">
    <div *ngIf="isPreview"
         [innerHTML]="previewMarkdown | safeHtml: 'html'"
         class="mark-down-input relative mark-down-content">
    </div>

    <label [class.none]="isPreview"
           class="relative of-hidden mark-down-input">
      <textarea #textAreaElement
                class="outline-none bg-transparent input-markdown"
                formControlName="content"></textarea>
    </label>

    <div class="flex flex-d-col resource-content">
      <small class="text-muted tt-capitalize mb05">
        Resources
      </small>
      <div class="flex ofx-auto mb1 images">
        <div class="relative of-hidden image-holder">
          <img alt="Rushia Wink"
               class="w100pct h100pct obj-pos-center obj-fit-cover"
               src="https://user-images.githubusercontent.com/29449869/80130608-16736680-85c3-11ea-833b-d0d10dabf823.gif"/>
          <div class="absolute cursor-pointer grid place-item-center br50 remove">
            <mat-icon>close</mat-icon>
          </div>
        </div>

        <label class="of-hidden grid place-item-center cursor-pointer image-holder">
          <mat-icon>add</mat-icon>
          <input accept="application/octet-stream, image/png, image/jpeg"
                 hidden
                 name="upload-file"
                 type="file">
        </label>
      </div>

      <small class="text-muted tt-capitalize mb05">
        Referenced tasks
      </small>

      <div class="flex flex-d-col ofy-auto references">
        <div class="grid align-content-center p05 reference-task">
          <div class="identify">
            #1 -
          </div>
          <div class="fw-bold name">
            Creating structure
          </div>
          <div class="text-danger status">
            Closed
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
